<% content_for :title do %>Massimo Ricci<% end %>
<% content_for :description do %>Website of Massimo Ricci<% end %>
<section>
  <%= image_tag("m_r.jpeg", size: "60x30") %>
</section>
<section>
  <div class="column">
    <h3>Stay in touch.</h3>
  </div>
  <div class="column">
    <div class="form-centered">
      <%= simple_form_for @visitor do |f| %>
      <%= f.error_notification %>
      <%= f.input :email, label: false, :placeholder => 'Your email address...' %>
      <br/>
      <%= f.button :submit, "Sign up for the newsletter", :class => "submit" %>
      <% end %>
    </div>
  </div>
</section>
